.root
{
	-fx-font-family: "Times New Roman";
	-fx-spacing: 20px;
	-fx-alignment: center ;
	-fx-padding: 20;
}

.my-field
{
	-fx-background-color: white;
	-fx-pref-width: 200px;
	-fx-pref-height: 25px;
	-fx-border-color: black;
}
.kopiuj
{
	-fx-alignment: CENTER_RIGHT ;
	
}
